.bulkCollectionBody{
    padding: 24px 0px 24px 40px;
    width: 100%;
    background: rgba(245,246,247,1);
}
.flexStyleTop{
    margin-top: 15px;
    margin-bottom: 34px;
}
.bulkCollectionTitle{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(77,77,77,1);
}
.applicantInfo{
    padding-top: 27px;
    padding-left: 30px;
    height:298px;
    background:rgba(255,255,255,1);
}
.headerLogo{
    width:40px;
    height:40px;
    text-align: center;
    line-height: 36px;
    background:rgba(255,130,60,0.1);
    border-radius: 50%;
}
.headerLogoTitle{
    position: relative;
    top:-30px;
    left: 50px;
}
.applicantInfoDetail{
    width: 100%;
    font-size: 14px;
}
.applicantInfoDetail span{
    line-height: 34px;
}
.applicantStatistics{
    width: 96%;
    margin-left: 4%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    height:298px;
    background:rgba(255,255,255,1);
}
.applicantStatistics span{
    color: #999999;
    font-size: 14px;
}
.euotaLine{
    line-height: 40px;
}
.euotaLineAd{
    display:block;
    width: 120px;
    word-wrap:break-word;
}

.lineRightIcon{
    position: absolute;
    right:15px;
    top: 12px;
    width:1px;
    height:30px;
    background:rgba(230,230,230,1);
}
.headerTab{
    margin-top: 8px;
    width:56px;
    height:26px;
    line-height: 26px;
    text-align: center;
    background:rgba(23,145,255,0.1);
    border-radius:14px;
    color: #1791FF;
    font-size: 13px;
}

.headerTabOut{
    margin-top: 8px;
    width:56px;
    height:26px;
    line-height: 26px;
    text-align: center;
    background:rgba(245,245,245,1);
    border-radius:14px;
    color: #999999;
    font-size: 13px;
}

.flowingWaterDetail{
    padding:26px 0px 0px 30px;
    height:140px;
    background:rgba(255,255,255,1);
}

.right-content, .ant-layout-content{
    /*background: #F5F6F7!important;*/
}

.sendRmk{
    position: fixed;
    top: 23%;
    right: 6%;
    z-index: 1;
    padding: 40px 23px 0px 23px;
    background: #fff;
    width:260px;
    height:500px;
}

.sendRmk textarea{
    width:100%;
    padding: 17px;
    height:379px;
    background:rgba(245,245,245,1);
    border:1px solid rgba(230,230,230,1);
    color: #999999;
}
.box{
    margin-top: 12px;
    float:left;
    position:relative;
    left:50%;
}
.btnGray{
    float:left;
    position:relative;
    right:50%;
    width:54px;
    height:28px;
    line-height: 28px;
    text-align: center;
    border-radius:2px;
    border:1px solid rgba(204,204,204,1);
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}
